:root {
    --FontCorporativo: 'Atkinson Hyperlegible', sans-serif;
    --FontLogo: 'Roboto', sans-serif; 
    --colorCorpContenido: rgb(246, 245, 245);
    --colorOnClick: rgba(0,0,0,.5);
    --colorCorporativo: rgb(114, 205, 241);
}

* {
    box-sizing: border-box;
} 

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

/*Header*/
.header {
    margin: 0;
    width: 100%;
    background-color: var(--colorCorpContenido);
    display: flex;
    align-items: center;
    color: var(--colorCorporativo);
} 

.header__content {
    justify-content: space-around;
}

.header__title {
    font-family: var(--FontLogo);
    font-size: 30px;
    margin-left: -20px;
}

.header__boxAbsolute {
    width: 300px;
    /* display: table; */
}

.header__boxSearch {
    font-size: 15px;
    padding: 7px;
    margin-left: -50px;
    width: 100%;
    outline: none;
    box-shadow: none;
    text-align: justify;
}

.header__boxSearch:focus {
    border-radius: 15px;
    border-color: rgb(104, 101, 101);
    width: 100%;
    text-indent: 20px;   
}

.header__menu__elem {
    font-size: 16px;
    border-color: transparent;
    background-color: var(--colorCorpContenido);
    font-family: var(--FontCorporativo);
    font-size: 17px;
}

.header__menu__elem:hover {
    cursor: pointer;
    color: var(--colorOnClick);
}

.header__menu__ele--logIn {
    border-color: var(--colorCorporativo);
    border-radius: 15px;
    font-size: 17px;
    padding: 5px;
    width: 80px;
    box-shadow: none;
    border: 1px solid var(--colorCorporativo);
}

.header__menu__ele--signUp {
    background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
    color: white;
    border-color: #4A993E   
}

.header__menu__ele--signUp:hover {
    cursor: pointer;
    color: var(--colorOnClick);
}


/*Home*/
.home {
    font-family: var(--FontCorporativo);
    display: flex;
    width: 100%;
    height: 100vh;
}

.home__section {
    padding: 10px;
}

.home__box {
    width: 100%;
}

.home__text {
    font-family: var(--FontLogo);
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    height: 80%;
    margin-top: 50px;
}


/*Lessons*/
.lesson {
    width: 100%;
    height: 100vh;
    padding: 0;
}

.lesson__absolute {
    font-family: var(--FontCorporativo);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.lesson__figure {
    background-color: white;
    margin-left: 85px;
}

.lesson__menu {
    /* grid-template-rows: repeat(5, 1fr); */
    height: 100%;
    display: grid;
    row-gap: 10px;
}

.lesson__item {
    font-family: var(--FontCorporativo);
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 80px; 
    text-align: center;
    font-size: 30px;
    align-items: center;
    border-radius: 50px;
}

.lesson__item:hover {
    color: var(--colorOnClick);
    border-color: var(--colorCorporativo);
    transition: all .1s ease-in-out;
    background: var(--colorCorporativo) linear-gradient( white ,var(--colorCorporativo)) repeat-x; 
    transform: scaleX(1.04);
}

.lesson__text {
    font-size: 65px;
    padding: 30PX;
    margin: 0;
    text-align: center;
}

.lesson__box {
    margin-top: 35px;
}

/*confidence*/
.confidence {
    margin-top: 10px;
    height: 100vh;
    padding: 0;
}

.confidence__body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    text-align: center;
    align-items: center;
}

.confidence__boxPhrase {
    padding: 10px;
}

.confidence__text {
    text-align: center;
    font-family: var(--FontLogo);
    font-size: 70px;
    font-weight: 600;
    height: 100%;
    margin-top: 0;
}


.confidence__tips {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    justify-items: center;
    grid-row-gap: 5px;
    margin-top: -100px;
}

.confidence__tip {
    padding: 20px;
    width: 70%;
    background-color: var(--colorCorporativo);
    font-family: var(--FontCorporativo);
    font-size: 23px;
    text-align: justify;
    margin: 0;
}


/*Games*/
.games {
    padding: 10px;
    margin: 0;
    height: 100vh;
    background-color: rgb(200, 247, 247); 
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
}

.games__list {
    margin: 5px 5px;
    border: 2px solid;
    border-color: black;
}

.games__items {
    font-family: var(--FontCorporativo);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    padding: 0;
    margin: 15px 15px;
    
}

.games__item {
    padding: 10px;
    list-style: none;
    background-color: var(--colorCorporativo);
}

.games__item:hover {
    transform: scaleX(1.05);
}
.games__title {
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding: 10px;
}

.games__article {
    font-family: var(--FontCorporativo);
    font-size: 70px;
    text-align: center;
    font-weight: 600;
}

.games__play {
    text-align: center;
}

.games__go {
    padding: 10px;
    font-family: var();
    border-radius: 10px;
    width: 20vh;
    height: auto;
    color: black;
    text-align: center;
    font-size: 25px;
}


.team {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    background-color: #f2f2f2;
    padding: 5px;
}



.team__member {
    border: 2px solid;
    border-color: lightgray;
    padding: 5px;
    margin: 5px;
    align-items: center;
    background-color: white;
    height: 100%;

}

.team__album {
    margin-top: 10px;
}

.team__image {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.team__dates {
    font-family: var(--FontCorporativo);
    margin-bottom: 15px;
}

.team__name {
    position: relative;
    margin-bottom: 10px;
    font-weight: 600;
    margin: 0;
    padding: 5px;
}

.team__position {
    margin: 0;
    margin-left: 5px;
}

.team__brief {
    margin: 0;
    margin-left: 5px;
}

/*footer*/
.footer-container {
    display: flex;
    align-content: center;
    background-color: var(--colorCorporativo);
    padding: 10px;
    justify-content: space-between;

}

.footer__text {
    margin: 0;
    color: white;
    font-family: var(--FontCorporativo);
    margin: 15px 15px;
}




