:root {
    --FontCorporativo: 'Atkinson Hyperlegible', sans-serif;
    --FontLogo: 'Roboto', sans-serif; 
    --colorCorpContenido: rgb(246, 245, 245);
    --colorOnClick: rgba(0,0,0,.5);
    --colorCorporativo: rgb(114, 205, 241);
}


* {
    box-sizing: border-box;
} 

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

.header {
    margin: 0;
    width: 100%;
    background-color: var(--colorCorpContenido);
    display: table;
    align-items: center;
    display: 2;
    color: rgb(114, 205, 241);
} 

.header__content {
    justify-content: space-around;
    display: flex;
    align-content: center;
}

.header__title {
    font-family: var(--FontLogo);
    font-size: 30px;
    margin-left: -20px;
}

.header__boxAbsolute {
    width: 300px;
    display: table;
}

.header__boxSearch {
    font-size: 15px;
    padding: 7px;
    margin-left: -50px;
    width: 100%;
    outline: none;
    box-shadow: none;
    text-align: justify;
}

.header__boxSearch:focus {
    border-radius: 15px;
    border-color: rgb(104, 101, 101);
    width: 100%;
    text-indent: 20px;   
}

.header__menu__elem {
    font-size: 16px;
    border-color: transparent;
    background-color: var(--colorCorpContenido);
    font-family: var(--FontCorporativo);
    font-size: 17px;
}

.header__menu__elem:hover {
    cursor: pointer;
    color: var(--colorOnClick);
}

.header__menu__ele--logIn {
    border-color: var(--colorCorporativo);
    border-radius: 15px;
    font-size: 17px;
    padding: 5px;
    width: 80px;
    box-shadow: none;
    border: 1px solid var(--colorCorporativo);
}

.header__menu__ele--signUp {
    background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
    color: white;
    border-color: #4A993E
    
}

.header__menu__ele--signUp:hover {
    cursor: pointer;
    color: var(--colorOnClick);
}